@media screen and (min-width: 768px) {
  main {
    h2 {
      text-align: center;
      width: 100%;
      font-size: 3rem;
      padding-top: 0;
      padding-bottom: 3rem;
    }

    #localisation {
      h5 {
        font-size: 1.8rem;
      }
    }

    #exploration {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2.8rem 0;
      background-color: #f4f4f4;

      h2 {
        font-size: 2.2rem;
      }

      p {
        font-size: 1.7rem;
      }

      button {
        font-size: large;
        height: 5rem;
        margin: 2rem 0;
      }
    }

    #fonctionnement {
      align-items: center;

      h2 {
        text-align: left;
        font-size: 24px;
      }

      .fonctionnement-cartes-conteneur {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        min-height: 20rem;
        max-height: 36rem;
        border-radius: 20px;
      }

      .fonctionnement-cartes {
        width: 80%;
        height: 6rem;
        margin-left: 4rem;

        span:first-child {
          padding: 0.1rem;
          transform: translate(-11px);
        }

        span:last-child {
          margin-left: 4rem;
          font-size: 16px;
        }
      }
    }

    #restaurants {
      padding: 5rem 1.5rem;

      h2 {
        text-align: left;
        font-size: 24px;
      }

      .conteneur-cartes-restaurants {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        .carte-restaurant {
          margin: 2rem;
          min-width: 30rem;
        }
      }
    }
  }

  #footer-links-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  main {
    #exploration {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2.8rem 0;
      background-color: #f4f4f4;

      h2 {
        margin-bottom: 20px;
      }

      p {
        font-size: 1.7rem;
      }

      button {
        font-size: medium;
      }
    }

    #fonctionnement {
      margin: 0;
      padding: 3rem 10rem;

      h2 {
        margin-bottom: 0;
      }

      .fonctionnement-cartes-conteneur {
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        width: 100%;
        min-height: 10rem;

        .fonctionnement-cartes {
          flex: 1;
          width: fit-content;

          &:first-child {
            margin-left: 0;
          }

          span:first-child {
            position: static;
          }

          span:last-child {
            margin-left: 0;
          }

          i {
            padding: 0 15px;
          }
        }
      }
    }

    #restaurants {
      padding: 3rem 10rem;

      .conteneur-cartes-restaurants {
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow: auto;

        .carte-restaurant {
          margin: 15px 5px;
          margin-right: 2.5rem;
          min-width: 30rem;
        }
      }
    }
  }

  footer {
    nav {
      margin: 0 150px;

      svg {
        margin-left: 5rem;
      }
    }

    #footer-links-container {
      justify-content: space-between;
      flex-direction: row;

      a {
        width: fit-content;

        i {
          width: 1rem;
        }
      }
    }
  }
}
